@model RealTimeChatWithSupport.Dtos.SendFileDto
@using System.Security.Claims;
@{
    ViewData["Title"] = "Welcome !";
}
<link href="~/css/chat.css" rel="stylesheet" />
<div id="chatDialog" title="Chat with support" class="disconnected">
    <div id="chatWelcomePanel">
        <h3>Have a question?</h3>
        <form id="chatConnectForm">
            <input type="hidden" value="@User.FindFirstValue(ClaimTypes.Name)" />
            <button type="submit">Connect</button>
        </form>
    </div>
    <div id="chatConnectionInfo">
        <strong>Connecting...</strong>
    </div>
    <div id="chatMainPanel">
        <ul id="chatHistory"></ul>
        <div id="bottomPanel">
            <form id="chatForm">
                <input id="messageTextbox" type="text" placeholder="Type a message" />
                <button type="submit">Send</button>
            </form>

            <form id="fileForm" action="Index" data-ajax-failure="AddFailed" data-ajax-success="AddSuccess"
                  data-ajax="true" data-ajax-method="POST" enctype="multipart/form-data">
                <input type="file" asp-for="File" name="file" />
                <input type="hidden" asp-for="RoomId" name="RoomId" />
                <button type="submit" id="SendFile">Send</button>

            </form>
        </div>
    </div>
</div>
<script src="~/js/index.js"></script>

<script>
    function AddFailed() {
    }
    function AddSuccess() {
    }

</script>