@using System.Security.Claims;
@{
    ViewData["Title"] = "Welcome !";
}
<link href="~/css/chat.css" rel="stylesheet" />
    <div id="chatDialog" title="Chat with support" class="disconnected">
        <div id="chatWelcomePanel">
            <h3>Have a question?</h3>
            <form id="chatConnectForm">
                <input type="hidden" value="@User.FindFirstValue(ClaimTypes.Name)" />
                <button type="submit">Connect</button>
            </form>
        </div>
        <div id="chatConnectionInfo">
            <strong>Connecting...</strong>
        </div>
        <div id="chatMainPanel">
            <ul id="chatHistory"></ul>
            <div id="bottomPanel">
                <form id="chatForm">
                    <input id="messageTextbox" type="text" placeholder="Type a message" />
                    <button type="submit">Send</button>
                </form>
                <input type="file" id="file-input" name="file" />
                <input  id="roomId" hidden="hidden"/>
                <button type="button" onclick="UpFile();" id="SendFile">Send</button>

            </div>
        </div>
    </div>

<script src="~/js/index.js"></script>
<script>
    function UpFile() {
        // Checking whether FormData is available in browser  
        if (window.FormData !== undefined) {

            var fileUpload = $("#file-input").get(0);
            var files = fileUpload.files;

            // Create FormData object  
            var fileData = new FormData();
            fileData.append("RoomId", $("#roomId").val());
            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                url: '/Home/GetFile',
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: fileData,
                success: function (result) {
                    console.log(result);
                },
                error: function (err) {
                    console.log(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }
</script>
